<h1>You are registering for this event, wanker</h1>
<% form_for :signup, @signup, :url => { :action => "go_register" } do |f| %>
<ul>
    <li>
        Event name: <%= @event.title %>
    </li>
    <li>
        <!-- Need to format these date times proper -->
        Date: <%= @event.start_date_time %> to <%= @event.end_date_time%>
    </li>
    <li>
        Disclaimer: 
        <div style="height: 300px; width: 490px; overflow: auto; overflow-y: hidden; border-style: solid; border-width: 1px; border-color: black;">
            <%= @event.disclaimer %>
        </div>
    </li>
    <li>
            
        <%= label :birthday, "When is your birthday?" %>
        <%= render :partial => 'layouts/datetime_select', :locals => { :date_type => 'birthday', :value => current_user.present? ? current_user.birthday_date : nil, :show_time => false, :object_klass => :user } %>
    </li>
    <li>
        <%= f.label :accepted_terms, "Do you agree to these terms?" %>
        <%= f.check_box :accepted_terms %>
    </li>
    <li>
        <%= f.hidden_field :event_id, :value => @event.id %>
        <%= f.hidden_field :user_id, :value => current_user.present? ? current_user.id : nil %>
        <%= submit_tag 'Register'  %>
    </li>
</ul>
<% end %>
<script>
  $(document).ready(function() {
    brio.utility.register_date_picker([$('#birthday_date_picker')])
  })
</script>