<% form_for(@event) do |f| %>
  <ul>
    <li>
      <%= f.label(:title) %>
    </li>
    <li>
      <%= f.text_field(:title) %>
    </li>
    <li>
      <%= f.label(:start_date_time) %>
    </li>
    <li>
      <%= f.datetime_select(:start_date_time) %>
    </li>
    <li>
      <%= f.label(:end_date_time) %>
    </li>
    <li>
      <%= f.datetime_select(:end_date_time) %>
    </li>
    <li>
      <%= f.label(:registration_start_date_time) %>
    </li>
    <li>
      <%= f.datetime_select(:registration_start_date_time) %>
    </li>
    <li>
      <%= f.label(:registration_end_date_time) %>
    </li>
    <li>
      <%= f.datetime_select(:registration_end_date_time) %>
    </li>
    <li>
      <%= f.submit(:create) %>
    </li>
  </ul>
<% end %>
<script>
  $(document).ready(function() {
    register_date_picker(['start_date_picker', 'end_date_picker', 'registration_start_date_picker', 'registration_end_date_picker'])
  })
</script>