<div id="form">
  <% form_for(@event) do |form| %>
    <div id='main'>
      <ul>
        <li>
          <%= form.label(:title) %>
        </li>
        <li>
          <%= form.text_field(:title) %>
        </li>
        <li>
          <%= form.label(:max_participants) %>
        </li>
        <li>
          <%= form.text_field(:max_participants) %>
        </li>
        <li>
          <%= form.label(:registration_fee) %>
        </li>
        <li>
          <%= form.text_field(:registration_fee) %>
        </li>
        <li>
          <%= form.label(:time_zone) %>
        </li>
        <li>
          <%= select('event', 'time_zone', time_zone_options_for_select()) %><br />
        </li>
      </ul>
    </div>
    <% render(:partial => 'layouts/address', :locals => { :form => form }) %>
    <div id='times'>
      <ul>
        <li>
          <%= form.label(:start_date_time) %>
        </li>
        <li>
          <%= render(:partial => 'layouts/datetime_select', :locals => { :date_type => 'start', :value => @event.start_date_time, :show_time => true, :object_klass => 'event' }) %>
        </li>
        <li>
          <%= form.label(:end_date_time) %>
        </li>
        <li>
          <%= render(:partial => 'layouts/datetime_select', :locals => { :date_type => 'end', :value => @event.end_date_time, :show_time => true, :object_klass => 'event', :object_klass => 'event' }) %>
        </li>
        <li>
          <%= form.label(:registration_start_date_time) %>
        </li>
        <li>
          <%= render(:partial => 'layouts/datetime_select', :locals => { :date_type => 'registration_start', :value => @event.registration_start_date_time, :show_time => true, :object_klass => 'event', :object_klass => 'event' }) %>
        </li>
        <li>
          <%= form.label(:registration_end_date) %>
        </li>
        <li>
          <%= render(:partial => 'layouts/datetime_select', :locals => { :date_type => 'registration_end', :value => @event.registration_end_date_time, :show_time => true, :object_klass => 'event' }) %>
        </li>
      </ul>
    </div>
    <div id='age'>
      <ul>
        <li>
          <%= form.label(:minimum_age_to_participate) %>
        </li>
        <li>
          <%= form.text_field(:minimum_age_to_participate) %>
        </li>
        <li>
          <%= form.label(:minimum_age_to_register) %>
        </li>
        <li>
          <%= form.text_field(:minimum_age_to_register) %>
        </li>
      </ul>
    <div>
    <div id='disclaimer_description'>
      <ul>
        <li>
          <%= form.label(:description) %>
        </li>
        <li>
          <%= form.text_area(:description) %>
        </li>
        <li>
          <%= form.label(:disclaimer) %>
        </li>
        <li>
          <%= form.text_area(:disclaimer) %>
        </li>
      </ul>
    </div>
    <%= form.submit(:create) %>
  <% end %>
</div>
<script>
  $(document).ready(function() {
    brio.utility.register_date_picker([$('#start_date_picker'), $('#end_date_picker'), $('#registration_start_date_picker'), $('#registration_end_date_picker')])
  })
</script>