<h1>Search for an event near you</h1>
<div id="searchcontainer">
    <% form_tag do %>
        <%= label_tag :date, "Date:" %><br />
        <%= text_field_tag :date %><br />
        <%= label_tag :name, "Name:" %><br />
        <%= text_field_tag :name %><br />
        <%= label_tag :location, "Location:" %><br />
        <%= text_field_tag :location %><br />
        <%= submit_tag "Search" %>
    <% end %>
</div>
<br /><br />
<%= render :partial => "list", :object => @events %>