<div id='event'>
  <ul>
    <li>
      Title: <%= @event.title %>
    </li>
    <li>
      Start Date: <%= @event.start_date_time %>
    </li>
    <li>
      End Date: <%= @event.end_date_time %>
    </li>
    <li>
      Registration Start Date: <%= @event.registration_start_date_time %>
    </li>
    <li>
      Registration End Date: <%= @event.registration_end_date_time %>
    </li>
  </ul>
  
  <ul>
      <li>
          <%= link_to "Manage registrants", event_users_path(@event) %>
      </li>
  </ul>
</div>