<div id='event'>
  <ul>
    <li>
      Title: <%= @event.title %>
    </li>
    <li>
      Start Date: <%= @event.start_date %>, <%= @event.start_time %>
    </li>
    <li>
      End Date: <%= @event.end_date %>, <%= @event.end_time%>
    </li>
    <li>
      Registration Start Date: <%= @event.registration_start_date %>, <%= @event.registration_start_time %>
    </li>
    <li>
      Registration End Date: <%= @event.registration_end_date %>, <%= @event.registration_end_time %>
    </li>
  </ul>
</div>