<h1>Listing sonars</h1>

<table>
  <tr>
    <th>Date</th>
    <th>Company</th>
    <th>Contact</th>
    <th>Description</th>
  </tr>

<% @sonars.each do |sonar| %>
  <tr>
    <td><%=h sonar.date %></td>
    <td><%=h sonar.company %></td>
    <td><%=h sonar.contact %></td>
    <td><%=h sonar.description %></td>
    <td><%= link_to 'Show', sonar %></td>
    <td><%= link_to 'Edit', edit_sonar_path(sonar) %></td>
    <td><%= link_to 'Destroy', sonar, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New sonar', new_sonar_path %>