<p>
  <b>Date:</b>
  <%=h @sonar.date %>
</p>

<p>
  <b>Company:</b>
  <%=h @sonar.company %>
</p>

<p>
  <b>Contact:</b>
  <%=h @sonar.contact %>
</p>

<p>
  <b>Description:</b>
  <%=h @sonar.description %>
</p>


<%= link_to 'Edit', edit_sonar_path(@sonar) %> |
<%= link_to 'Back', sonars_path %>