<div id='address'>
  <ul>
    <li>
      <%= form.label(:address_line_1) %>
    </li>
    <li>
      <%= form.text_field(:address_line_1) %>
    </li>
    <li>
      <%= form.label(:address_line_2) %>
    </li>
    <li>
      <%= form.text_field(:address_line_2) %>
    </li>
    <li>
      <%= form.label(:city) %>
    </li>
    <li>
      <%= form.text_field(:city) %>
    </li>
    <li>
      <%= form.label(:state) %>
    </li>
    <li>
      <%= form.text_field(:state) %>
    </li>
    <li>
      <%= form.label(:postal_code) %>
    </li>
    <li>
      <%= form.text_field(:postal_code) %>
    </li>
    <li>
      <%= form.label(:latitude) %>
    </li>
    <li>
      <%= form.text_field(:latitude) %>
    </li>
    <li>
      <%= form.label(:longitude) %>
    </li>
    <li>
      <%= form.text_field(:longitude) %>
    </li>
  </ul>
</div>
