<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
	<head>
		<title><%= h(yield(:title) || "Untitled") %></title>
		<%= stylesheet_link_tag( , :media => 'all') %>
		<%= javascript_include_tag 'jquery', 'application' %>
	</head>
	<body>
		<div id="container" style="margin-top: 25px;">
			<%- flash.each do |name, msg| -%>
				<%= content_tag :div, msg, :id => "flash_#{name}" %>
			<%- end -%>

			<%= yield %>
		</div>
	</body>
</html>
